*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255,249,249);
    background: linear-gradient(90deg, rgba(255,249,249,1) 0%, rgba(198,198,198,1) 0%, rgba(240,227,227,1) 99%);
    font-family: $font;
    h2{
        color: $textcolor;
    }
}
